@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Gentium Book Plus", serif;
        font-weight: 400;
        font-style: normal;
}

:root{
    --background-color: #EEE1D0;
    --inactive_button:#2E4364;
    --active_button: #263560;
    --text_color:#131316;
    --footer_color: #282B2D;
    --card_color:#E2E2E2;
}
