:root {
  --background-color: #eee1d0;
  --inactive_button: #2e4364;
  --active_button: #263560;
  --text_color: #131316;
  --footer_color: #282b2d;
  --card_color: #e2e2e2;
  --goals_color: #40e43d;
}
.herosSect {
  display: flex;
  flex-direction: column;
  /* align-items: center;
    justify-content: center; */
}

.herosSect .heros_img img {
  width: 100%;
  height: 70vh;
}

.goals {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.goals ._about {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--goals_color);
}

.heros_message {
  display: flex;
  align-items: center;
  justify-content: center;
}

.message {
  background-color: #d9d9d9;
  transform: translateY(-40%);
  width: 50%;
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
}

.message h1 strong {
  color: red;
}

.heros_message p {
  margin-top: 1rem;
  text-align: center;
}

.nav_links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.bannerSect {
  background-color: red;
  margin-top: -5rem;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.banner_txt {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between */
}
.courses {
  display: flex;
  flex-direction: column;
  /* border: 2px solid black ; */
  padding: 0 5rem;
}
hr {
  color: var(--text_color);
}

/*#######################  Popular courses section. ###################################*/

.popuparCourseSect {
  padding: 2rem 2rem;
}

.popuparCourse {
  padding: 2rem 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
}

.popular_courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 18rem;
  margin-top: 6rem;
  text-align: center;
  padding: 0.4rem;
  background-color: var(--card_color);
  border-radius: 0.4rem;
}

.course_img {
  width: 10rem;
  height: 10rem;
  margin-top: -30%;
  border-radius: 0.5rem;
  overflow: hidden;
}

.course_img img {
  width: 100%;
  height: 100%;
}

.popular_courses h2 {
  margin-top: 1rem;
}
.popular_courses p {
  margin-top: 0.4rem;
}

.popular_courses:hover {
  background-color: var(--inactive_button);
  transition: all ease-in-out 0.5s;
  color: var(--card_color);
}

/*############################ TOP COURSES SECTION #################################*/
.top_couserseSect {
  padding: 1rem 2rem;
}

.top_courses {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.top_course {
  width: 18rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  border: 1px solid var(--text_color);
  overflow: hidden;
  padding: 0rem;
}

.top_course .top_course_img {
  width: 100%;
  height: 12rem;
  padding: 0rem;
}

.top_course .top_course_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.about_course {
  padding: 0 0.5rem;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.about_course .cartegory {
  font-size: 1rem;
  padding: 0;
}
.about_course .desc {
  line-height: 1.7;
  padding: 0;
}

.about_course h2 {
  padding: 0;
  font-size: 1.5rem;
}
.about_course .duration {
  color: var(--active_button);
}

.top_course .bottom {
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.top_course .bottom p {
  cursor: pointer;
}
.top_course .bottom p:hover {
  text-decoration: underline;
}
.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.checked {
  color: orange;
}

/*########################    Tutors section    ###################################*/
.tutorsSect {
  padding: 2rem 2rem;
}
.tutors_sect {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.tutor {
  border: 1px solid var(--text_color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  width: 23rem;
  gap: 1rem;
  overflow: hidden;
}

.tutor .tutor_img {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  overflow: hidden;
  margin-top: 1rem;
}

.tutor .tutor_img img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.tutor p {
  text-align: center;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.7rem 1rem;
  align-items: center;
  width: 100%;
  background-color: var(--card_color);
}

.tutors_socials {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.link {
  display: flex;
  place-content: center;
}

.navigate {
  font-size: 2rem;
  font-weight: bolder;
}

/*############################   SUBSCRIBE SECTION   #################################*/

.subscribeSect {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 3rem;
  background-color: #86bfdc;
}

.input_email {
  width: 30rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--card_color);
  padding: 0.5rem;
  border-radius: 1rem;
}

.input_email input {
  width: 100%;
  outline: none;
  border: none;
  padding-inline-start: 1rem;
  background-color: var(--card_color);
}
