@import url("https://fonts.googleapis.com/css2?family=Miltonian&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --background-color: #eee1d0;
  --inactive_button: #2e4364;
  --active_button: #263560;
  --text_color: #131316;
  --footer_color: #282b2d;
  --card_color: #e2e2e2;
  --see_more: #86bfdc;
}

.headerSect {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: #d9d9d9;
  flex-wrap: wrap;
}

.headerSect .header-logo {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.header-logo h1 {
  font-family: "Miltonian", serif;
  font-weight: 400;
  font-style: normal;
}

.header-logo .logo_img {
  border-radius: 50%;
  padding: 1rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 1.3rem;
  list-style: none;
}

nav ul li .link {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--text_color);
}
nav ul li .link:hover {
  border-bottom: 2px solid var(--text_color);
}

.headerSect .signUp_signIn {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.3rem;
  background-color: var(--inactive_button);
  color: var(--card_color);
  font-family: "Gentium Book Plus", serif;
  font-weight: 400;
  font-style: normal;
}

button:hover {
  background-color: var(--active_button);
}

.see_more {
  border: 2px solid var(--text_color);
  width: 8rem;
  display: flex;
  flex-direction: row;
  border-radius: 0.5rem;
  padding: 0.5rem;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
.see_more:hover {
  background-color: var(--see_more);
  border-color: var(--see_more);
}

/*################# BANNER SECTIONS ###################*/
.banner_sect {
  padding: 0;
  text-align: center;
  height: 10rem;
  background-color: var(--inactive_button);
  color: var(--card_color);
  display: grid;
  place-content: center;
  gap: 1rem;
}

/*##############################     Footer section         #############################3#*/
.footerSect {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-around;
  align-items: top;
  background-color: var(--footer_color);
  color: var(--card_color);
  padding: 2rem;
}

.logo_sect {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.navigation_sect {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.social_links {
  text-align: center;
}
.accounts {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.social_link {
  padding: 1rem;
  font-size: 2rem;
  display: grid;
  place-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.social_link:hover {
  background-color: #86bfdc;
  color: var(--text_color);
}

.bottom_text {
  text-align: center;
  padding: 0.7rem;
  background-color: var(--card_color);
}

/*######################## TOP NAVIGATION SECTION ################*/
.top_nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 0.5rem;
  padding: 0;
}

.course_path {
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .headerSect {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 0.5rem;
  }
}
